<template>
  <canvas class="evanesce-canvas" ref="canvas" />
</template>

<script>
import Evanesce from '@/evanesce/index.js'

export default {
  props: {
    transition: {
      type: Object,
      required: true
    },

    duration: {
      type: Number,
      default: 1000
    },

    easing: {
      type: String,
      default: 'linear'
    },

    params: {
      type: Object,
      default: () => ({})
    },

    src: {
      type: String,
      required: true
    },

    progress: {
      type: Number
    }
  },

  async mounted () {
    const evanesce = new Evanesce({
      canvas: this.$refs.canvas,
      transition: this.$props.transition,
      duration: this.$props.duration,
      easing: this.$props.easing,
      params: this.$props.params
    })

    evanesce.setFrom(this.$props.src)
    if (typeof this.$props.progress === 'number') evanesce.setProgress(this.$props.progress)

    this.$options.evanesce = evanesce
  },

  beforeDestroy () {
    if (this.$options.evanesce) this.$options.evanesce.destroy()
  },

  methods: {
    play (fromStart) {
      this.$options.evanesce.play(fromStart)
    },

    pause () {
      this.$options.evanesce.pause()
    },

    reset () {
      this.$options.evanesce.reset()
    }
  },

  watch: {
    transition (transition) {
      this.$options.evanesce.setTransition(transition)
    },

    duration (duration) {
      this.$options.evanesce.setDuration(duration)
    },

    easing (easing) {
      this.$options.evanesce.setEasing(easing)
    },

    params (params) {
      this.$options.evanesce.setParams(params)
    },

    async src (src) {
      await this.$options.evanesce.transition(src)
      this.$emit('complete')
    },

    progress (progress) {
      if (typeof progress === 'number') {
        this.$options.evanesce.setProgress(progress)
      }
    }
  }
}
</script>
