<template>
  <div id="app">
    <evanesce
      class="evanesce-canvas"
      easing="easeInOutCubic"
      :src="src"
      :duration="3000"
      :transition="transition"
      @complete="transitioning = false"
    />
    <br />
    <br />
    <br />
    <button style="padding:10px" @click="changeSrc">Transition</button>
  </div>
</template>

<script>
import Evanesce from '@/evanesce/index.vue'
import transitions from 'gl-transitions'
import image1Src from '@/../public/image-1.jpg'
import image2Src from '@/../public/image-2.jpg'

export default {
  name: 'app',

  components: {
    Evanesce
  },

  data () {
    return {
      src: image1Src,
      toggled: false,
      transitioning: false
    }
  },

  computed: {
    transition () {
      return transitions.find((t) => t.name === 'Mosaic')
    }
  },

  methods: {
    changeSrc () {
      if (this.transitioning) return

      const nextImage = this.toggled ? image1Src : image2Src
      this.src = nextImage

      this.toggled = !this.toggled
      this.transitioning = true
    }
  }
}
</script>

<style>
.evanesce-canvas {
  width: 90vw;
  height: 45vw;
}
</style>
